body {
	width: 750px;
  margin-right: auto;
  background: #D8D8D8;
}

div.content {
	-moz-border-radius: 15px;
	border-radius: 15px;
  background: #FEFEFE;
  padding: 15px;
}

div.post {
	-moz-border-radius: 8px;
	border-radius: 8px;
  background: #FEFEFE;
  padding: 8px;
}

div.meta {
  background: #DDDDDD;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding-left: 4px;
}

body pre {
		white-space: pre-wrap;

}
