body {
	width: 900px;
  margin-right: auto;
  background: #D8D8D8;
	font-family: arial;
}

h1 {
	text-shadow: 3px 3px #D8D8D8;
}
h1, h2 {
	margin: 0px;
	padding: 0px;
}

nav {
 	background-color: rgb(45, 45, 45);
	width: 100%;
	float: left;
	margin-top: 10px;
}
nav ul {
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin:0 auto;
}
nav ul li {
	float:left;
}
nav ul li a{
	margin-right:20px;
	display:block;
	line-height:40px;
}

div.site {
	-moz-border-radius: 15px;
	border-radius: 15px;
  background: #FEFEFE;
	padding-left: 15px;
	padding-bottom: 15px;
	padding-top: 15px;
	clear: both;
}

div.content {
	float: left;
	margin-top: 10px;
	overflow: auto;
	width: 100%;
}

div.post {
	float: left;
	margin-top: 10px;
	overflow: auto;
	width: 100%;
}

div.meta {
	padding-left: 5px;
	padding-right: 5px;
	width: 20%;
	float: right;
	border: 1px dashed rgb(45, 45, 45);
}

body pre {
	white-space: pre-wrap;
}

a {
	font-weight: bold;
}

nav a:link {
	color: #FEFEFE;
	text-decoration: none;
}
nav a:visited {
	color: #FEFEFE;
	text-decoration: none;
}
nav a:hover {
	color: #FEFEFE;
	text-decoration: underline;
}
nav a:active {
	color: #FEFEFE;
	text-decoration: none;
}

footer {
	margin-right: 20px;
	text-align: center;
	font-size: 12px;
}

footer hr {
	color: rgb(45, 45, 45);
}

code {
  background: rgb(45, 45, 45);
  border:1px dashed white;
  display:block;
  overflow:auto;
  padding:10px;
  margin:10px;
	margin-right: 20px;
  white-space: pre;
  color: white;
}
