body {
	width: 750px;
  margin-right: auto;
  background: #D8D8D8;
}

h1 {
	text-shadow: 3px 3px #D8D8D8;
}
h1, h2 {
	margin: 0px;
	padding: 0px;
}

nav {
	-moz-border-radius: 8px;
	border-radius: 8px;
 	background:#D8D8D8;
	width: 100%;
	float: left;
}
nav ul {
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin:0 auto;
}
nav ul li {
	float:left;
}
nav ul li a{
	margin-right:20px;
	display:block;
	line-height:40px;
}

div.site {
	-moz-border-radius: 15px;
	border-radius: 15px;
  background: #FEFEFE;
  padding: 15px;
}

div.content {
}

div.post {
}

div.meta {
  background: #AAAAAA;
	-moz-border-radius: 4px;
	border-radius: 4px;
	margin-left: 20px;
	padding-left: 8px;
}

body pre {
		white-space: pre-wrap;

}
